<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!-- 注解扫描的包 -->
	<context:component-scan base-package="forfun.controller"/>
	<!-- 开启注解方案1 -->
	<!-- 注解方法处理 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" 
		/> -->
	<!-- 注解类映射处理 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean> -->
	<!-- 开启注解方案2 -->
	<mvc:annotation-driven />
	<!--  静态资源访问，方案1  -->
	<mvc:resources location="/res/" mapping="/res/**"/>

	<!-- 静态资源访问，方案2 
	 <mvc:default-servlet-handler/> -->
	<!-- 拦截器 
   	 <mvc:interceptors>  
        <mvc:interceptor>  
            <mvc:mapping path="/*.do" /> 
            <mvc:mapping path="/appadmin/*" />   
            <mvc:mapping path="/*.jsp" /> 
            <mvc:mapping path="/*/*.jsp" />
            <bean class="com.trs.filter.AdminLoginFilter" />  
        </mvc:interceptor>  
    </mvc:interceptors>  -->  
	<!-- 视图解释类 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/page/" />
		<!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑-->
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 上传文件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="defaultEncoding" value="utf-8" /> <property name="maxUploadSize" 
		value="10485760000" /> <property name="maxInMemorySize" value="40960" /> 
	</bean> 
	
	<!-- 控制器异常处理 -->
    <bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
    </bean>

    <bean class="forfun.shiro.web.exception.DefaultExceptionHandler"/>

    <import resource="spring-mvc-shiro.xml"/>
</beans>  

